.carousel-row{
	width: 79%;
    margin: auto;
}

.MultiCarousel { 
    float: left; 
    overflow: hidden; 
    padding: 15px; 
    width: 100%; 
    position:relative; 
}

.MultiCarousel .MultiCarousel-inner { 
    transition: 1s ease all; 
    float: left; 
}

.MultiCarousel .MultiCarousel-inner .card-item { 
    float: left;
}
        
.MultiCarousel .MultiCarousel-inner .card-item > div {
    margin:17px; 
    background:#f1f1f1; 
    color:#666;
}

.MultiCarousel .MultiCarousel-inner .card-item > div:hover {
    box-shadow: 0px 15px 30px rgba(255,22,22,0.1);
    transition: 0.5s;
}
    
.MultiCarousel .leftLst, .MultiCarousel .rightLst { 
    position:absolute; 
    border-radius:50%;
    top:50%; 
}
    
.MultiCarousel .leftLst { 
    left:0; 
}
    
.MultiCarousel .rightLst { 
    right:0; 
}
    
.MultiCarousel .leftLst.over, .MultiCarousel .rightLst.over { 
    pointer-events: none; 
}

.card-slick-arrow{
    position: absolute;
    border: 0;
    padding: 0;
    z-index: 2;
    cursor: pointer;
    top: 50%;
    transform: translateY(-50%);
    left: auto;
    background: none;
}

.card-slick-arrow i{
    font-size: 30px;
    color : rgba(32,69,112,0.3);
}

.card-slick-arrow:focus {
    outline:0;
}

.card-slick-arrow:hover {
    color: #FF1616;
}

