.category__banner {
	width: 80%;
	background-color: palevioletred;
	margin: 0 auto;
}

.category__product {
	width: 80%;
	height: 200px;
	background-color: #fef4f4;
	margin: 0 auto;
}

.category__product__filter {
	width: 30%;
	height: 200px;
	float: left;
	background-color: gray;
}

.category__product__cards {
	width: 70%;
	height: 200px;
	float: left;
	background-color: #dc3545;
}

.category__contact {
	width: 80%;
	height: 200px;
	background-color: palevioletred;
	margin: 0 auto;
}