*{
	margin: 0;
	padding: 0;
    box-sizing:border-box;
    font-family: 'Playfair Display', serif;
}

.block-1{
	padding-top: 50px;
	padding-bottom: 50px;
	background-color: #fef4f4;
}

.block-2{
	margin: 0 auto;
	width: 75%;
	height: 800px;
	padding-top: 50px;
	padding-bottom: 50px;
}

.block-2-left{
	
	width: 75%;
	float: left;
}

.block-2-right{
	width: 25%;
	height: 600px;
	float: left;

}

footer {
	bottom: 0;
}