.reading-page{
    display: flex;
    flex-direction: column;
    justify-content: center;
  	align-items: center;
    /* margin-top: 2rem; */
}
.reading-book-title{
    text-transform: uppercase;
    margin-bottom: 1rem;
    color: whitesmoke;
        display: block;
        background-color: white;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        /* background-image: url("../image/category_banner_1.jpg"); */
        height: 7rem;
        background-position: bottom;
        background-repeat: no-repeat;
        background-size: cover; 
        text-align: center;
        display: flex;
        justify-content: center;
          align-items: center;
        font-size: 1.1rem;
}
.reading-section{
    width: 60%;
}
iframe{
    width: 100%;
    height: 50rem;
    border-bottom: 0.2rem solid black;
    border-right: 0.2rem solid black;
}
.comment-section{
    width: 90%;
    margin-top: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    /* margin-left: 5rem;
    margin-right: 5rem; */
    padding-left: 3rem;
    padding-right: 3rem;
    padding-bottom: 1.5rem;
    background-color: snow;
/* 
    display: flex;
    flex-direction: column;
    justify-content: center;
  	align-items: flex-start; */
}

.comment-section h3{
    font-size: 1.5em;
    padding-bottom: 0rem;
}
.comment-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
  	align-items: flex-start;
}
.comment-inner-element{
    width: 100%;
    border-bottom: solid 1px rgba(0,0,0,.15);
    padding-bottom: 1rem;
    padding-top: 1rem;
}
.your-comment-inner-element{
    padding-top: 1rem;
}

.commenter-name{
    font-size: 1.3em !important;
    font-weight: bold;
}

.commenter-rating{
    padding-top: 0.2rem;
    padding-bottom: 0.4rem;

    font-size: 13px;
    color: #ff5700;
}

.commenter-review{
    font-size: 1.1em;
}

.your-comment-inner-element{
    font-size: 1.1em;
}

#your-rate{
    font-size: 1.1em;
    /* text-align: center; */
    width: 100%;
}
#your-review{
    font-size: 1.1em;
    width: 100%;
    /* height: 200px; */
    padding-left: 0.2rem;
    padding-top: 0.2rem;
}
#submit-review-btn{
    font-size: 1.1em;
    background-color: snow;
    cursor: pointer;
    margin-top: 1rem;
    padding: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 0.7rem;
    border-radius: 5rem;
    text-decoration: underline;
}
#submit-review-btn:hover{
    background-color: whitesmoke;
}
td:nth-child(2){
    width: 40rem;
    padding-left: 2rem;
} 
td{
    padding-top: 0.5rem;
}