
.section-header {
  margin-bottom: 60px;
  position: relative;
  padding-bottom: 20px;
}

.section-header::before {
  content: '';
  position: absolute;
  display: block;
  width: 60px;
  height: 5px;
  background: #f82249;
  bottom: 0;
  left: calc(50% - 25px);
}

.section-header h2 {
  font-size: 36px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  margin-bottom: 10px;
}

.section-header p {
  text-align: center;
  padding: 0;
  margin: 0;
  font-size: 18px;
  font-weight: 500;
  color: #9195a2;
}

.subscribe {
    padding: 25vh 0;
    background: url(subscribe-background.jpg) center center no-repeat;
    background-size: cover;
    overflow: hidden;
    position: relative;
    min-height: 100vh;
}



.subscribe .section-header h2,
.subscribe p {
  color: #fff;
}

.subscribe input {
  background: #fff;
  color: #060c22;
  border: 0;
  outline: none;
  margin: 0;
  padding: 9px 20px;
  border-radius: 50px;
  font-size: 14px;
}

.subscribe button {
  border: 0;
  padding: 9px 25px;
  cursor: pointer;
  background: #f82249;
  color: #fff;
  transition: all 0.3s ease;
  outline: none;
  font-size: 14px;
  border-radius: 50px;
}

.subscribe button:hover {
  background: #e0072f;
}

.form-row {
  display: flex;
  justify-content: center;
}

.col-auto {
  margin: 5px 5px 5px 5px;
}

@media only screen and (min-width: 768px) {
  .subscribe input {
    min-width: 400px;
}

}