<a class="nav-link active" id="nav-one-tab" data-bs-toggle="tab" href="#nav-one-tab" role="tab" aria-controls="nav-five" aria-selected="true">All</a>
<a class="nav-link" id="nav-two-tab" data-bs-toggle="tab" href="#nav-two-tab" role="tab" aria-controls="nav-five" aria-selected="false">Horror</a>
<a class="nav-link" id="nav-three-tab" data-bs-toggle="tab" href="#nav-three-tab" role="tab" aria-controls="nav-five" aria-selected="false">Thriller</a>
<a class="nav-link" id="nav-four-tab" data-bs-toggle="tab" href="#nav-four-tab" role="tab" aria-controls="nav-five" aria-selected="false">Science Fiction</a>
<a class="nav-link" id="nav-five-tab" data-bs-toggle="tab" href="#nav-five-tab" role="tab" aria-controls="nav-five" aria-selected="false">History</a>