<link rel="stylesheet" href="subscribe.css">
<section class="subscribe">
  <div class="container">
    <div class="section-header">
      <h2>Join BlackPink!</h2>
      <p>Subscribe to us and receive the greatest books ever!</p>
    </div>
    <form method="post" action="#">
      <div class="form-row">
        <div class="col-auto">
          <input type="text" class="form-control" placeholder="Enter your Email">
        </div>
        <div class="col-auto">
          <button type="submit">Subscribe</button>
        </div>
      </div>
    </form>

  </div>
</section>