<div class="header">
    <header>
        <div class="header-logo">
            <a href="#">
                <img src="image/logo.png" alt="logo">
            </a>
        </div>
        <div class="search-bar">
            <form class="search-bar-form" action="">
                <input type="text" placeholder="Search book by author or publisher" name="search">
                <button type="submit"><i class="fa fa-search"></i></button>
            </form>
        </div>
        <div class="signin-logout">
            <a href="#" class="signin-logout-btn">Sign In</a>
        </div>
    </header>
    <nav id="navigator">
        <ul id="main-menu">
            <li><a href="#">HOME</a></li>
            <li><a href="#">BOOK</a></li>
            <li><a href="#">CATEGORY</a>
                <!-- <ul class="sub-menu">
                    <li><a href="#">CATEGORY 1</a></li>
                    <li><a href="#">CATEGORY 1</a></li>
                    <li><a href="#">CATEGORY 1</a></li>
                    <li><a href="#">CATEGORY 1</a></li>
                </ul> -->
            </li>
            <li><a href="#">ABOUT</a></li>
        </ul>
    </nav>
</div>