<div class="card">
    <div class="card-img">
        <a href="#">
            <img src="image/card_example.png" alt="Card example">
        </a>
    </div>

    <div class="card-caption">
        <h3>
            <a href="#">Moon dance</a>
        </h3>
        <p>Le Tuan</p>
        <div class="card-review-div">
            <div class="card-review"> 
                <div class="card-rating">                   <!-- Star rating section -->
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>  
                </div>

                <p><span>120</span> Reviews</p>             <!-- Number of reviews -->
            </div>

            <div class="card-price">                        <!-- Price of the book -->
                <span>$50</span>
            </div>
        </div>
    </div>
</div>