<div class="category-card-div-outer">
    <div class="category-card-div" data-interval="1000">
        <div class="category-card-div-inner">
            <div class="card-item" id="card-item-0">
                <div class="pad15">
                    <div class="card card-div-item">
                        <div class="card-img">
                            <a href="#">
                                <img src="image/card_image_1.png" alt="Card example">
                            </a>
                        </div>
                    
                        <div class="card-caption">
                            <h3>
                                <a href="#">Moon dance</a>
                            </h3>
                            <p>Le Tuan</p>
                            <div class="card-review-div">
                                <div class="card-review"> 
                                    <div class="card-rating">                   <!-- Star rating section -->
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star-half-alt"></i>  
                                    </div>
                    
                                    <p><span>120</span> Reviews</p>             <!-- Number of reviews -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card-item" id="card-item-1"> 
                <div class="pad15">
                    <div class="card card-div-item">
                        <div class="card-img">
                            <a href="#">
                                <img src="image/card_image_2.png" alt="Card example">
                            </a>
                        </div>
                    
                        <div class="card-caption">
                            <h3>
                                <a href="#">Moon dance</a>
                            </h3>
                            <p>Le Tuan</p>
                            <div class="card-review-div">
                                <div class="card-review"> 
                                    <div class="card-rating">                   <!-- Star rating section -->
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star-half-alt"></i>  
                                    </div>
                    
                                    <p><span>120</span> Reviews</p>             <!-- Number of reviews -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card-item" id="card-item-2">
                <div class="pad15">
                    <div class="card card-div-item">
                        <div class="card-img">
                            <a href="#">
                                <img src="image/card_image_2.png" alt="Card example">
                            </a>
                        </div>
                    
                        <div class="card-caption">
                            <h3>
                                <a href="#">Moon dance</a>
                            </h3>
                            <p>Le Tuan</p>
                            <div class="card-review-div">
                                <div class="card-review"> 
                                    <div class="card-rating">                   <!-- Star rating section -->
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star-half-alt"></i>  
                                    </div>
                    
                                    <p><span>120</span> Reviews</p>             <!-- Number of reviews -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card-item" id="card-item-3">
                <div class="pad15">
                    <div class="card card-div-item">
                        <div class="card-img">
                            <a href="#">
                                <img src="image/card_image_3.png" alt="Card example">
                            </a>
                        </div>
                    
                        <div class="card-caption">
                            <h3>
                                <a href="#">Moon dance</a>
                            </h3>
                            <p>Le Tuan</p>
                            <div class="card-review-div">
                                <div class="card-review"> 
                                    <div class="card-rating">                   <!-- Star rating section -->
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star-half-alt"></i>  
                                    </div>
                    
                                    <p><span>120</span> Reviews</p>             <!-- Number of reviews -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card-item" id="card-item-4">
                <div class="pad15">
                    <div class="card card-div-item">
                        <div class="card-img">
                            <a href="#">
                                <img src="image/card_image_1.png" alt="Card example">
                            </a>
                        </div>
                    
                        <div class="card-caption">
                            <h3>
                                <a href="#">Moon dance</a>
                            </h3>
                            <p>Le Tuan</p>
                            <div class="card-review-div">
                                <div class="card-review"> 
                                    <div class="card-rating">                   <!-- Star rating section -->
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star-half-alt"></i>  
                                    </div>
                    
                                    <p><span>120</span> Reviews</p>             <!-- Number of reviews -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card-item" id="card-item-5">
                <div class="pad15">
                    <div class="card card-div-item">
                        <div class="card-img">
                            <a href="#">
                                <img src="image/card_image_3.png" alt="Card example">
                            </a>
                        </div>
                    
                        <div class="card-caption">
                            <h3>
                                <a href="#">Moon dance</a>
                            </h3>
                            <p>Le Tuan</p>
                            <div class="card-review-div">
                                <div class="card-review"> 
                                    <div class="card-rating">                   <!-- Star rating section -->
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star-half-alt"></i>  
                                    </div>
                    
                                    <p><span>120</span> Reviews</p>             <!-- Number of reviews -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>